.wrapper {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  min-height: 100dvh;
  max-height: 100dvh;
  justify-content: space-between;
  padding-bottom: 2.1rem;
}

.content {
  margin-top: 2.5rem;
  margin-bottom: 3.9rem;
  overflow: auto;
  height: 100%;
  padding-inline: 4.2rem;
  padding-top: 0.2rem;
}
